
/* Media Queries / Breakpoints
-------------------------------------------------- */


@media only screen and (max-width: 768px) {
/* For Mobile: */
	nav a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  text-align: justify;
  padding: 1em;
  animation: fadeInOut 106s linear infinite;
}
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
/* For Mobile: */
	nav a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  text-align: justify;
  padding: 1em;
  animation: fadeInOut 106s linear infinite;
}
}

@media only screen and (min-width: 1366px) and (max-width: 1700px) {
/* For Mobile: */
	nav a {
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: justify;
  padding: 1em;
  animation: fadeInOut 106s linear infinite;
}
}
 
/* Text Styling / Main Navigation
-------------------------------------------------- */

*{padding:0px;
  margin:0px;
}

body {
  font-size: 100%
}

nav {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  font-size: 3rem;
  line-height: 0;
  width: 100%;
  text-align: justify;
  margin:0;
  z-index:99;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-align: justify;
  padding: 1em;
  animation: fadeInOut 106s linear infinite;
}

nav a:hover {
  filter: blur(4px);
  text-decoration: none;
  animation: fadeIn 2s linear infinite;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.scrolling-box {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-color: none;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;}
}


/* Sections – Global
-------------------------------------------------- */

section {
  display: flex;
  flex: 0 0 auto;
  width: 50vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 20px 0px 30px rgba(0,0,0,.5) inset, -20px 0px 30px rgba(0,0,0,.5) inset;
  mix-blend-mode: none;

}


.colophon {
  width: 50vw;
  height: 100%;
  background-size: cover;
  box-shadow: 20px 0px 30px rgba(0,0,0,.5) inset, -20px 0px 30px rgba(0,0,0,.5) inset;
  font-size:5vw;
  line-height: 7.5vh;
  text-align:center;
  padding-left:.5em;
  padding-right:.5em;
  z-index: 99;
  overflow: hidden;
}


/* Animation
-------------------------------------------------- */

@keyframes fadeInOut {
      0% {opacity: 0;}
      2% {opacity: 0;}
      5% {opacity: 100;}
      17% {opacity: 100;}
      20% {opacity: 0;}

      20% {opacity: 0;}
      22% {opacity: 0;}
      25% {opacity: 100;}
      37% {opacity: 100;}
      40% {opacity: 0;}

      20% {opacity: 0;}
      25% {opacity: 0;}
      48% {opacity: 100;}
      57% {opacity: 100;}
      60% {opacity: 0;}

      60% {opacity: 0;}
      62% {opacity: 0;}
      65% {opacity: 100;}
      77% {opacity: 100;}
      80% {opacity: 0;}

      80% {opacity: 0;}
      82% {opacity: 0;}
      85% {opacity: 100;}
      97% {opacity: 100;}
      100% {opacity: 0;}

    }











