


/* Global
-------------------------------------------------- */




/* Fonts
-------------------------------------------------- */

@font-face {
font-family: "Tiny Grotesk Narrow";
src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.woff") format("woff"),
		url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.otf") format("opentype");
}

@font-face {
font-family: "Tiny Grotesk";
src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-Regular.woff") format("woff"),
}
  
 


/* Marquee text
-------------------------------------------------- */


body {
  background-color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  font-size: 1.5em;
  line-height: 0em;
  padding: 1em;
  top: 0;
  width: 100%;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  color: red;
  text-decoration: none;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}




















