


/* Global
-------------------------------------------------- */

body,
html {
	background-color: white;
}




/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {}




/* Fonts
-------------------------------------------------- */

@font-face {
font-family: "Tiny Grotesk Narrow";
src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.woff") format("woff"),
		url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.otf") format("opentype");
}

@font-face {
font-family: "Tiny Grotesk";
src: 	url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-Regular.woff") format("woff"),
}
  
 


/* Marquee text
-------------------------------------------------- */


.example1 {
 height: 50px;	
 overflow: hidden;
 position: relative;
}

.example1 p {
 font-size: 1em;
 color: blue;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}

.example2 p {
 font-size: 1em;
 color: blue;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}


/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}




/* Container
-------------------------------------------------- */


h1 {
	font-style: none;
	font-family: times, serif;
	letter-spacing: .1em;}


button {
  	display: block;
  	font-family: arial, sans-serif;
  	width:150px;
  	height: 50px;
  	border: black;
  	border-radius:10px;
  	margin: 0 auto 0 auto;
  	color: black;
  	font-size: 14px;
  	text-transform: uppercase;
  	text-align: center;}























