


/* Global
-------------------------------------------------- */




/* Fonts
-------------------------------------------------- */
/*
@font-face {
font-family: "Tiny Grotesk Narrow";
src:  url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.woff") format("woff"),
    url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-NarrowRegular.otf") format("opentype");
}

@font-face {
font-family: "Tiny Grotesk";
src:  url("https://mike-tully.github.io/on_gathering/css/fonts/TinyGrotesk-Regular.woff") format("woff"),
}
  
 


/* Marquee text
-------------------------------------------------- */

*{padding:0px;
margin:0px;}

body {
  font-size: 100%
}

nav {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  font-size: 3rem;
  line-height: 0;
  width: 100%;
  text-align: center;
  margin:0;
  z-index:99;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  animation: fadeInOut 106s linear infinite;
}

nav a:hover {
  filter: blur(4px);
  text-decoration: none;
  animation: fadeIn 2s linear infinite;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

.scrolling-box {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-color: none;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;}
}


/* Sections – Global
-------------------------------------------------- */

section {
  display: flex;
  flex: 0 0 auto;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   /*box-shadow: 20px 0px 10px rgba(255,255,255,1) inset, -20px 0px 10px rgba(255,255,255,1) inset;
  mix-blend-mode: soft-light;*/

}




/* Sections – Individual
-------------------------------------------------- */




/* Animation
-------------------------------------------------- */

@keyframes fadeInOut {
      0% {opacity: 0;}
      2% {opacity: 0;}
      5% {opacity: 100;}
      17% {opacity: 100;}
      20% {opacity: 0;}

      20% {opacity: 0;}
      22% {opacity: 0;}
      25% {opacity: 100;}
      37% {opacity: 100;}
      40% {opacity: 0;}

      20% {opacity: 0;}
      25% {opacity: 0;}
      48% {opacity: 100;}
      57% {opacity: 100;}
      60% {opacity: 0;}

      60% {opacity: 0;}
      62% {opacity: 0;}
      65% {opacity: 100;}
      77% {opacity: 100;}
      80% {opacity: 0;}

      80% {opacity: 0;}
      82% {opacity: 0;}
      85% {opacity: 100;}
      97% {opacity: 100;}
      100% {opacity: 0;}

    }











